<div class="player bg-secondary rounded-sm p-2" [ngStyle]="{top: positionY, left: positionX}">
	<div class="content-text">
		<h4>{{player.name}}</h4>
		<p class="coins">{{player.budget || 0}}</p>
	</div>
	<div class="progress" style="height: 6px;" *ngIf="player.isPlayerTurn">
		<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<span class="bet-amount badge badge-info" *ngIf="player.bet && player.bet > 0">{{player.bet}}</span>
	<span *ngIf="player.isPlayer" class="is-player-marker"></span>
	<div class="cards" *ngIf="player.hand; else waiting">
		<img [src]="'assets/cards/' + player.hand[0] + '.svg'" class="poker-card">
		<img [src]="'assets/cards/' + player.hand[1] + '.svg'" class="poker-card ml-1">
	</div>
</div>

<ng-template #waiting>
	<div class="wait py-2 h-100">
		<div class="h-100 rounded-sm border d-flex align-items-center p-1">
			<p>Waiting</p>
		</div>
	</div>
</ng-template>
